@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
        margin:0px;
        padding:0px;
        
}


body{
        background-color:whitesmoke;
        
}
.nav{
        width:100%;
        background-color:#373b44;
        height: 35px;
        font-size: 20px;
        font-weight: bold;
        color:#73c8a9;
        font-family: 'Oswald', sans-serif;
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
        justify-content:center;

        
}
.nav p{
        margin-left:2px;
        
        
}
.nav li{
        display:inline;
        margin-right:26px;
        margin-top:10px;
        border:1px solid none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav a{
        text-decoration: none;
                color:#73c8a9;
                font-family: 'Oswald',
                sans-serif;
}
.nav a:hover{
                                background-color:#73c8a9;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                        rgba(0, 0, 0, 0.22) 0px 10px 10px;
                        border-radius:4px;
                        color:#373b44;

}
.nav li:hover{
        background-color:#73c8a9;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius:4px;
        color:#373b44;
        
}
.Backgroud{
        width:80%;
        height: 200px;
        background-color:#373b44;
        margin-left:35px;
        border:1px solid #373b44;
        border-radius:15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Backgroud i{
         font-size: 55px;
        color:#73c8a9;
         margin:5px;
         border-radius:50%;
        text-shadow: 1px 1px 1px #000;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                        

}
.Backgroud p{
        color: #73c8a9;
letter-spacing: .15em;
text-shadow: 1px 1px 1px #000;
font-family: 'Source Code Pro', monospace;


        
}
hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.Ta li{
        display:inline;
        margin: 35px;
        color:#73c8a9;
        
        
}
.Ta i{
        font-size:40px;
        text-shadow: 1px 1px 1px #000;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}
.Ta{
        color:Snow;
        font-family: 'Source Code Pro', monospace;
        text-shadow: 1px 1px 1px #000;
        font-weight: bold;


}






.Backgroud2{
        width:80%;
        height: 200px;
        background-color:#373b44;
        margin-left:35px;
        border:1px solid #373b44;
        border-radius:15px;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Backgroud2 i{
         font-size: 55px;
        color:#73c8a9;
         margin:5px;
         border-radius:50%;
        text-shadow: 1px 1px 1px #000;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                        

}
.Backgroud2 p{
        color: #73c8a9;
letter-spacing: .15em;
text-shadow: 1px 1px 1px #000;
font-family: 'Source Code Pro', monospace;


        
}
hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.Ta2 li{
        display:inline;
        margin: 35px;
        
        
}
.Ta2 i{
        font-size:40px;
        text-shadow: 1px 1px 1px #000;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}
.Ta2{
        color:#73c8a9;
        font-family: 'Source Code Pro', monospace;
        text-shadow: 1px 1px 1px #000;
        font-weight: bold;


}



.Backgroud3{
        width:80%;
        height: 200px;
        background-color:#373b44;
        margin-left:35px;
        border:1px solid #373b44;
        border-radius:15px;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Backgroud3 i{
         font-size: 55px;
        color:#73c8a9;
         margin:5px;
         border-radius:50%;
        text-shadow: 1px 1px 1px #000;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                        

}
.Backgroud3 p{
        color: #73c8a9;
letter-spacing: .15em;
text-shadow: 1px 1px 1px #000;
font-family: 'Source Code Pro', monospace;


        
}
hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.Ta3 li{
        display:inline;
        margin: 35px;
        color:#73c8a9;
        
        
}
.Ta3 i{
        font-size:40px;
        text-shadow: 1px 1px 1px #000;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}
.Ta3{
        color:Snow;
        font-family: 'Source Code Pro', monospace;
        text-shadow: 1px 1px 1px #000;
        font-weight: bold;


}
a{
  text-decoration: none;
  color:#73c8a9;
}
.Cr{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
