html{
  margin:0px;
  padding:0px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
   background-size: 100% 100%;
}
h3{
  color:aqua;
  
}

.sahand{
  margin:0px;
  padding:0px;
  border-radius:30px ;
  box-shadow:0px 0px 3px 3px mediumaquamarine;
width: 250px;
height: 150px;

}

.sahand img{
  width:50px;
}

h1{

font-style:italic;
font:small;
font-size:25px;
}

.Sahand img{
  width:100px;
  
}


input{
padding: 4px;
font-size: 17px;
border: 1px solid grey;
border-radius: 50px;
width: 50%;
background: #f1f1f1;


}
.menus{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menus a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  
}
.menus a:hover{
  background-color: #ddd;
}
.sahand {
position: relative;
display: inline-block;

}
button{
  width: 20%;
  padding: 4px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 50px;
  border-left: none; /* Prevent double borders */
  
}

form{
  content: "";
  clear: both;
  display: table;
}
.sahand:hover .menus{
  display: block;
}
